#search .form {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search .form input {
  box-sizing: border-box;
  width: 75vw;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #ff4d4f;
  border-radius: 2px 0 0 2px;
  line-height: 33px;
}

#search .form button {
  width: 15vw;
  height: 36px;
  background-color: #ff4d4f;
  color: #fff;
  border: 0;
  border-radius: 0 2px 2px 0;
}

#search .history {
  padding: 0 5vmin;
}

#search .history-item .icon{
  width: 20px;
  height: 20px;
  color: #bbbec4;
}

#search .history-item a {
  padding: 12px 0;

  display: flex;
  align-items: center;

  border-bottom: 1px solid #e9eaec;
}

#search .history-clear a {
  padding: 12px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  user-select: none;
}

#search .history-clear .icon {
  width: 12px;
  height: 12px;
}

#search .result-num {
  padding: 0 5vmin 2.6vmin;
  font-size: 3.2vmin;
}

#search .result {
  padding: 0 5vmin;
  background-color: #fff;
}

#search .result-item {
  border-bottom: 1px solid #e9eaec;
  padding: 2.6vmin 0;
}

#search .result-item a {
  display: flex;
}

#search .result-item:last-child {
  text-align: center
}

#search .result-item img {
  width: 20vmin;
  height: 26.7vmin;
}

#search .result-item .right {
  padding-left: 2.5vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#search .result-item .author,
#search .result-item .info {
  width: 67.5vw;
  font-size: 3.2vmin;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#search .result-load a {
  display: block;
  padding: 2.6vmin 0;
  text-align: center;
}