#book-header {
  width: 100%;
  height: 100%;
  display: flex;
}

#book-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

#book-footer ul {
  display: flex;
}

#book-footer .book-btn {
  width: 50%;
  height: 50px;
}

#book-footer .book-btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

#book-footer .book-btn-add {
  background-color: #f8f8f9;
  color: #ff4d4f;
}

#book-footer .book-btn-read {
  background-color: #ff4d4f;
  color: #fff;
}

#book .info {
  padding: 5vw;
  display: flex;
}

#book .info img {
  padding-right: 2.6vw;
  width: 24vmin;
  height: 32vmin;
}

#book .info .title {
  font-size: 4.5vmin;
  font-weight: bold;
  letter-spacing: 1px;
}

#book .info .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#book .intro {
  padding: 0 5vw 2.5vmin;
}

#book .intro .main {
  min-height: 12vmin;
  line-height: 1.5;
  overflow: hidden;
}

#book .chapter a{
  box-shadow: 0 -1px 1px #dddee1;
  padding: 2.5vmin 5vw;
  display: flex;
  justify-content: space-between;
}

#book .chapter .icon{
  width: 6vmin;
  height: 6vmin;
}

#book .chapter-num,
#book .chapter-time {
  display: flex;
  align-items: center;
}