#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f9;
  border-bottom: 1px solid #dddee1;
  z-index: 1000;
  overflow: hidden;
}

#top-nav .title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff4d4f;
  font-size: 20px;
  font-weight: 500;
}

#top-nav .manage {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff4d4f;
}

#top-nav .manage-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#top-nav .manage-num{
  font-size: 10px;
  color: #80848f;
}

#top-nav .button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0 5vw;
}

#top-nav .icon {
  padding: 13px;
  width: 24px;
  height: 24px;
  color: #ff4d4f;
}

#top-nav .book,
#top-nav .read {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-nav .read {
  transition: height linear .2s;
}



