.model {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  min-height: 100px;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 4px;
  color: #fff;
  z-index: 1000;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}