#book {
  padding: 5vw;
}

#book img {
  width: 24vw;
  height: 32vw;
  margin-right: 10px;
}

#book .book-info {
  display: flex;
}

#book .book-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#book .book-cell .title {
  font-size: 16px;
  font-weight: 600;
}

#book .book-intro {
  padding: 5vw 0;
}

#book .read-link {
  margin: 0 -5vw;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .1px solid #dddee1;
  border-top: .1px solid #dddee1;
  font-size: 12px;
}

#book .chapter,
#book .time {
  display: flex;
  align-items: center;
  padding: 5vw 0;
}

#book .chapter {
  padding-left: 5vw;
  border-left: .1px solid #dddee1;
}

#book .icon {
  width: 16px;
  height: 16px;
}